<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/be6_Java_Algorithms/src/be6_Java_Algorithms/Long_Same_Prefix.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="be6_Java_Algorithms.Long_Same_Prefix"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="be6_Java_Algorithms"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="be6_Java_Algorithms"/>
</launchConfiguration>
